.chat-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: row;
  &__right-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
